<!DOCTYPE html>
<html>
<head>
    <title>Tilføj parring</title>
</head>
<body>
    <h1>Ny parring</h1>
    <form method="post">
    <label for="male">Han:</label><br>
{% for pig in pigs if pig['gender'] == 'M' %}
  {% if pig['image'] %}
    <img src="{{ url_for('static', filename=pig['image']) }}" alt="{{ pig['name'] }}" width="100"><br>
  {% endif %}
  <input type="radio" name="male" value="{{ pig['id'] }}"> {{ pig['name'] }}<br><br>
{% endfor %}
<br><br>
<label for="female">Hun:</label><br>
{% for pig in pigs if pig['gender'] == 'F' %}
  {% if pig['image'] %}
    <img src="{{ url_for('static', filename=pig['image']) }}" alt="{{ pig['name'] }}" width="100"><br>
  {% endif %}
  <input type="radio" name="female" value="{{ pig['id'] }}"> {{ pig['name'] }}<br><br>
{% endfor %}
<br><br>

        <label for="date">Dato for sammensætning:</label>
        <input type="date" name="date"><br><br>

        <button type="submit">Gem parring</button>
    </form>
    <br>
    <a href="/">⬅️ Tilbage</a>
</body>
</html>
